.jumbotron {
	background: url("friends-main.jpg") no-repeat center center;
	background-size: 100% 100%;
	height: 700px;
}

.navbar {
	margin-bottom: 0;
	border-bottom: 3px solid #63D148
}

.fa-link {
	margin-right: 10px;
}

#orange {
	color: #D66313;
}

.btn-primary {
	background-color: #D66313;
}

.navbar-text {
	font-family: 'Merienda One', cursive;
	color: white !important;
}

.navbar-link {
	color: white !important;
}

.heading {
	margin-top: 50px;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 45px;
}

.sub-heading {
	margin-bottom: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
}

.bio-section {
	margin-top: 80px;
}

.member-photo {
	border-radius: 100%;
	height: 250px;
}

.bio-text {
	margin-top: 80px;
}

footer {
	background-color: #ccc;
	height: 50px;
}

.footer {
	margin-top: 80px;
	padding-top: 15px;
}
